@import url('https://fonts.googleapis.com/css?family=Inter');

.hr__header {
  margin-top: 0px;
  height: 1px;
  background-color: #3F3F46;
  border-width: 0;
}

body {
  font-family: Inter;
  background: #18181B;
  font-weight: 500;
  color: white;
  margin: 0 !important;
}

.header {
  display: flex;
  background: #27272A;
  margin: 0 0;
  justify-content: center;
  /* The next 3 lines are only for the purpose of the 3rd lab */
}

.container {
  display: flex;
  width: 1280px;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.logo__image {
  display: flex;
  justify-self: flex-start !important;
  margin: 0 20px;
}

.nav__bar {
  width: auto;
  flex-shrink: 0;
  box-sizing: border-box;
  border: 0 solid #e5e7eb;
}

.nav__list {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  color: rgb(55 65 81);
  font-weight: 500;
  align-items: center;
  flex-wrap: nowrap;
  flex-direction: row;
  height: 4rem;
}



.nav__list__item {
  display: flex;
  font-weight: 500;
  align-items: center;
  height: 100%;
  margin-right: 20px;
  margin-left: 15px;
}

.nav__list__current__text {
  display: flex;
  color: #FF7C00;
  align-items: center;
  cursor: pointer;
  height: 100%;
  position: relative;
  font-weight: bold;
}

input::-webkit-search-cancel-button {
  -webkit-appearance: none;
  height: 10px;
  width: 10px;
  content: url(https://freesvg.org/img/1544641784.png);
}

.nav__list__other__text {
  display: flex;
  color: rgb(228 228 231);
  align-items: center;
  cursor: pointer;
  height: 100%;
  position: relative;
  font-weight: bold;
}

.nav__list__current__line {
  background-color: #FF7C00;
  width: 100%;
  height: 3px;
  bottom: 0;
  position: absolute;
}

.nav__list__other__line {
  background-color: transparent;
  width: 100%;
  height: 3px;
  bottom: 0;
  position: absolute;
}

.nav__list__item:hover .nav__list__other__line {
  background-color: rgb(82 82 91);
}

a:hover,
a:visited,
a:link,
a:active {
  text-decoration: none;
}

.header__right__div {
  display: flex;
  min-width: 0;
  justify-content: flex-end;
  width: auto;
  justify-self: flex-start !important;
  flex-shrink: 0;
}

.header__auth__div {
  display: flex;
  padding-right: 1rem;
  align-items: center;
}

.header__auth__inner {
  display: flex;
  align-items: center;
}

.button__connect__wallet {
  display: inline-block;
  border-style: none;
  color: rgb(255 255 255);
  margin: 0;
  box-sizing: border-box;
  cursor: pointer;
  border-width: 0;
  background-color: #FF7C00;
  font: inherit;
  height: 2rem;
  width: auto;
  border-radius: 0.5rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  font-weight: 600;
}

.button__connect__wallet:hover {
  filter: brightness(110%);
  transition-duration: .15s;
}

.connect__wallet__span {
  pointer-events: none;
  display: flex;
  height: 100%;
  width: 100%;
  align-items: center;
  justify-content: center;
  flex-shrink: 0 !important;
  flex-grow: 0;
}

.form {
  display: flex;
  position: relative;
  justify-self: flex-end;
  margin-right: 15px;
  flex-shrink: 1 !important;
  width: auto;
  max-width: 392px;
  flex-grow: 1;
}

.form__button {
  display: block;
  background-image: url("../images/search.svg");
  background-repeat: no-repeat;
  fill: #71717A;
  width: 20px;
  height: 20px;
  background-color: transparent;
  border: none;
  position: absolute;
  top: calc(50% - 10px);
  left: 10px;
}

.form__input {
  display: inline-block;
  height: 35px;
  background: rgba(255, 255, 255, 0.1);
  border: none;
  border-radius: 10px;
  padding: 13px 40px;
  color: #9E9EA0;
  font-size: 1.1rem;
  width: 100%;
}

.form__input::placeholder {
  color: #71717A;
  font-weight: 500;
  line-height: 1.5rem;
  font-size: 1rem;
}

.form__input:focus {
  outline: none;
}

.title {
  margin: center;
  text-align: center;
}

.table {
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 0.9em;
  min-width: 400px;
  margin: 0 auto;
  width: 1280px;
}

.image__logo {
  display: flex;
  align-self: flex-start;
}

.table thead tr {
  color: #ffffff;
  text-align: left;
}

.table tbody tr {
  border-bottom: 1px solid #3F3F46;
}

.table tbody tr:last-of-type {
  border-bottom: transparent;
}

.table tbody tr:first-of-type {
  border-top: 1px solid #3F3F46;
}

.empty__row {
  width: 32px;
}

.table tr {
  display: flex;
  justify-content: space-between;
}

#watchlist_table {
  display: none;
}

.table th,
.table td {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 12px 15px;
  align-items: center;
}

#head__row__price {
  color: white;
}

#head__row__coin {
  width: 215px;
  justify-content: flex-start;
}

#coin__div {
  margin-left: 35px;
}

#rank__row__coin{
  margin-left: 63 px;
}

#rank__row__coin__2{
  margin-left: 63 px;
}

.watchlist__message {
  display: flex;
  max-width: 800px;
  margin: auto;
  margin-top: 250px;
  margin-bottom: 250px;
  text-align: center;
}

.rank__column {
  display: flex;
  width: 44px;
}

.image__column {
  display: flex;
  padding-right: 5px;
  width: 30px;
  height: auto;
  justify-self: flex-start;
}

.coin__column {
  display: flex;
  font-family: Inter;
  width: 180px;
  vertical-align: middle;
  justify-content: flex-start !important;
}

.mcap__column {
  width: 160px;
}

.price__column {
  width: 104px;
  color: #E37500;
  font-weight: 600;
}

.volume__column {
  width: 150px;
}

.supply__column {
  width: 200px;
}

.change__column {
  width: 162px;
  margin-right: 40px;
}


.tabs {
  margin: auto;
}

.table2 {
  margin: auto;
}

.volume {
  text-align: right;
}

.red__column {
  color: red;
  font-weight: 600;
  width: 162px;
  margin-right: 40px;
}

.green__column {
  color: #22C55E;
  font-weight: 600;
  width: 162px;
  margin-right: 40px;
}

.main__table {
  display: flex;
  margin: 10px auto;
  margin-top: 20px;
  flex-shrink: 1;
  flex-grow: 1;
  flex-direction: column;
}

.footer {
  background-color: #27272A;
  font-size: .875rem;
  line-height: 1.25rem;
}

.footer__main__div {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  max-width: 1280px;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
}

.footer__left__div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 20rem;
}

.logo__div {
  font-size: .875rem;
  line-height: 1.25rem;
}

.a__footer {
  display: flex;
  flex-shrink: 0;
}

.a__footer__div {
  display: flex;
  height: 2rem;
  align-items: center;
}

.footer__logo {
  width: 180px;
  height: 48px;
  max-width: 100%;
}

.footer__span {
  display: inline-flex;
  margin-right: 0.25rem;
  margin-left: 0.25rem;
  height: 26px;
  align-items: center;
  border-radius: 0.5rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  color: #FF7C00;
  background-color: rgba(235, 139, 37, 0.25);
  font-weight: 500;
  font-size: 0.75rem;
  line-height: 1rem;
}

.slogan__left__p {
  font-weight: 600;
  color: rgb(212 212 216);
  font-size: 15px;
}

.affiliation__p {
  display: block;
  width: 100%;
  margin: 0;
  color: rgb(113 113 122);
  font-size: 14px;
}

.copyright__p {
  display: block;
  width: 100%;
  font-weight: 500;
  line-height: 1.25rem;
  font-size: 13px;
  color: rgb(113 113 122);
}

.footer__list__section {
  width: 8rem;
  align-items: flex-start;
  margin-right: 20px;
}

.footer__h1 {
  font-size: 15px;
  margin-bottom: 1rem;
  font-weight: 600;
  color: rgb(113 113 122);
}

.footer__ul {
  margin: 0;
  padding: 0;
}

.footer__li {
  font-weight: 500;
  color: white;
  line-height: 1.25rem;
  font-size: 15px;
  font-weight: 600;
  margin: 0 30px 30px 0;
  white-space: nowrap;
}

.footer__li__a {
  display: inline-flex;
  align-items: center;
  text-decoration: inherit;
  cursor: pointer;
  color: white;
}

.footer__li__a:hover {
  color: #FF7C00;
}

ul {
  list-style-type: none;
}

.footer__main__div{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.footer__right__div{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 6rem;
}

.pagenumbers {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
  margin: 5px;
}

.pagenumbers button {
	height: 2rem;
  min-width: 32px;
  margin: 5px;
  border-radius: 0.5rem;
  font-weight: 600;
  width: auto;
  cursor: pointer;
  border-style: none;
  background-color: transparent;
  color: white;
}

.pagenumbers button:hover {
	background-color: #3F3F46;
  transition-duration: .15s;
}

.pagenumbers button.active {
	background-color: #3F3F46;
	box-shadow: inset 0px 0px 4px rgba(0, 0, 0, 0.2);
}

.table {
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 0.9em;
  min-width: 400px;
  margin: 0 auto;
  width: 1280px;
}

.image__logo {
  display: flex;
  align-self: flex-start;
}

.table thead tr {
  color: #ffffff;
  text-align: left;
}

.table tbody tr {
  border-bottom: 1px solid #3F3F46;
}

.table tbody tr:last-of-type {
  border-bottom: transparent;
}

.table tbody tr:first-of-type {
  border-top: 1px solid #3F3F46;
}

.table tr {
  display: flex;
  justify-content: space-between;
}

.table th,
.table td {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 12px 15px;
  align-items: center;
}

.name__image__column {
  display: flex;
  font-family: Inter;
  width: 180px;
  vertical-align: middle;
  justify-content: flex-start !important;
}

#head__row__price {
  color: white;
}

#head__row__coin {
  width: 215px;
  justify-content: flex-start;
}

#head__row__coin__2 {
  width: 215px;
  justify-content: flex-start;
}

#name__div {
  margin-left: 46px;
}

.star__image__inactive {
  height: 20px;
  width: 20px;
  filter: invert(24%) sepia(7%) saturate(478%) hue-rotate(202deg) brightness(100%) contrast(98%);
}

.star__image__active {
  height: 20px;
  width: 20px;
  filter: invert(87%) sepia(9%) saturate(6308%) hue-rotate(347deg) brightness(105%) contrast(96%);
}

.star__button {
  border: none;
  cursor: pointer;
  appearance: none;
  background-color: inherit;
}

.exchanges__rank__column {
  width: 44px;
}

#head__row__name {
  width: 225px;
}

#exchanges__row__volume {
  width: 150px;
}

.exchanges__image__column {
  display: flex;
  padding-right: 5px;
  width: 40px;
  height: auto;
  justify-self: flex-start;
}

.exchanges__name__column {
  display: flex !important;
  font-family: Inter;
  font-weight: 500;
  width: 180px;
  color: rgb(228 228 231);
  vertical-align: middle;
  justify-content: flex-start;
}

.mcap__column {
  width: 160px;
}

.exchanges__trust__column {
  width: 190px;
  font-weight: 600;
}

.exchanges__volume__column {
  width: 150px;
}

@media screen and (max-width: 890px) {
  .nav__list { display: none;}
}

@media screen and (max-width: 650px) {
  .button__connect__wallet { display: none !important; } 
}

@media screen and (max-width: 1290px){
  .supply__column { display: none !important; } 
}

@media screen and (max-width: 1090px){
  .volume__column { display: none !important; } 
}

@media screen and (max-width: 900px){
  .mcap__column { display: none !important; } 
}

@media screen and (max-width: 650px){
  .change__column { display: none !important; } 
  .red__column { display: none !important; } 
  .green__column { display: none !important; } 
  .footer__left__div {margin-bottom: 50px;}
}



@media screen and (max-width: 1020px) {
  .footer__main__div {
    flex-direction: column; 
    align-items: center; 
    }
  .footer__left__div {margin-bottom: 50px;}
}

.template__container {
  display: grid;
  margin: auto;
  margin-top: 50px;
  margin-bottom: 100px;
  width: 1340px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto;
  grid-row-gap: 30px;
  grid-column-gap: 50px;
  grid-template-areas:
   "coin coin"
   "graph info"
   "indicators indicators"
   ;
}

.coin__block {
  display: flex;
  grid-area: coin;
  flex-direction: column;
  justify-content: flex-start;
}

.coin__name__block {
  display: flex;
  align-items: center;
}

.name__block__stats {
  display: flex;
  flex-direction: column;
}

.rank__block {
  display: flex;
  justify-content: left;
}

.rank__span {
  background-color: #2E2E33;
  border-radius: 0.4rem;
  font-size: 0.8rem;
  padding: 5px;
  text-align: center;
}

.name__block {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.name__block__ticker {
  color: #716E68;
  align-self: center;
  margin-left: 10px;
  font-weight: 600;
}
.coin__price__block {
  display: flex;
  justify-content: flex-start;
  align-items: top;
  padding-top: 20px;
}

.price__ticker__block {
  color: #716E68;
  font-size: 0.9rem;
  margin-bottom: 5px;
  font-weight: 600;
}

.info__text__block {
  display: flex;
  grid-area: info;
  flex-direction: column;
  width: auto;
  height: auto;
  background-color: #27272A;
  color: #D4D4D8;
  text-align: left;
  border-radius: 1.5rem;
  padding: 20px;
}

.info__block__title h3 {
  margin: 0px;
  margin-bottom: 10px;
  color: white;
}

.graph__block {
  display: flex;
  grid-area: graph;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.indicator__block {
  display: flex;
  grid-area: indicators;
  flex-direction: row;
  justify-content: space-between;
}

.indicator__list__element {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.table__row:hover {
  background-color: #9e9ea01c;
}



.indicator__name {
  color: #716E68;
  margin-bottom: 8px;
  font-weight: 600;
}

.table__row__button {
  color: inherit;
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 1rem;
}

.graph__main__block{
  display: flex;
  width: 800px;
  height: 500px;
}

.tradingview-widget-container {
  width: 100%;
}
